<div class="container mt-5">
  <div class="row">
    <!-- Formulario de Empleados -->
    <div class="col-md-6">
      <div class="card formularioRegistro h-100 d-flex flex-column">
        <div class="card-body">
          <h2 class="card-title">Crear Empleado</h2>
          <form [formGroup]="empleadosForm" (ngSubmit)="guardarEmpleados()">
            <div class="form-group">
              <label for="nombreCompleto">Nombre:</label>
              <input type="text" id="nombreCompleto" formControlName="nombreCompleto" class="form-control" placeholder="Ingrese su nombre">
              <div *ngIf="empleadosForm.get('nombreCompleto')?.hasError('required') && empleadosForm.get('nombreCompleto')?.touched" class="text-danger">
                El nombre es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="rut">RUT:</label>
              <input type="text" id="rut" formControlName="rut" class="form-control" placeholder="Ingrese su RUT" pattern="[0-9]{7,8}-[0-9Kk]{1}">
              <div *ngIf="empleadosForm.get('rut')?.hasError('pattern') && empleadosForm.get('rut')?.touched" class="text-danger">
                El RUT debe tener un formato XX.XXX.XXX-X (sin puntos)
              </div>
            </div>
            <div class="form-group">
              <label for="email">E-Mail:</label>
              <input type="text" id="email" formControlName="email" class="form-control" placeholder="Ingrese su dirección de correo electrónico">
              <div *ngIf="empleadosForm.get('email')?.hasError('required') && empleadosForm.get('email')?.touched" class="text-danger">
                El correo electrónico es obligatorio.
              </div>
              <div *ngIf="empleadosForm.get('email')?.hasError('email') && empleadosForm.get('email')?.touched" class="text-danger">
                Formato del correo debe ser example@example.com
              </div>
            </div>
            <div class="form-group">
              <label for="empresa">Empresa:</label>
              <select name="empresa" id="empresa" formControlName="empresa" class="form-control">
                <option *ngFor="let item of empresas || []" [ngValue]="item">{{item?.nombre}}</option>
              </select>
              <div *ngIf="empleadosForm.get('empresa')?.hasError('required') && empleadosForm.get('empresa')?.touched" class="text-danger">
                Seleccione una empresa.
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="empleadosForm.invalid">Guardar Empleado</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Formulario de Empresas -->
    <div class="col-md-6">
      <div class="card formularioRegistro h-100 d-flex flex-column">
        <div class="card-body">
          <h2 class="card-title">Crear Empresa</h2>
          <form [formGroup]="empresasForm" (ngSubmit)="guardarEmpresas()">
            <div class="form-group">
              <label for="nombreEmpresa">Nombre:</label>
              <input type="text" id="nombreEmpresa" formControlName="nombre" class="form-control" placeholder="Ingrese el nombre de la empresa">
              <div *ngIf="empresasForm.get('nombre')?.hasError('required') && empresasForm.get('nombre')?.touched" class="text-danger">
                El nombre de la empresa es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <input type="text" id="direccion" formControlName="direccion" class="form-control" placeholder="Ingrese la dirección de la empresa">
              <div *ngIf="empresasForm.get('direccion')?.hasError('required') && empresasForm.get('direccion')?.touched" class="text-danger">
                La dirección de la empresa es obligatoria.
              </div>
            </div>
            <div class="form-group">
              <label for="rutEmpresa">RUT:</label>
              <input type="text" id="rutEmpresa" formControlName="rut" class="form-control" placeholder="Ingrese el RUT de la empresa" pattern="[0-9]{7,8}-[0-9Kk]{1}">
              <div *ngIf="empresasForm.get('rut')?.hasError('pattern') && empresasForm.get('rut')?.touched" class="text-danger">
                El RUT de la empresa debe tener un formato XX.XXX.XXX-X (sin puntos)
              </div>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="text" id="telefono" formControlName="telefono" class="form-control" placeholder="Ingrese el teléfono de la empresa" pattern="\+?[0-9]{6,12}">
              <div *ngIf="empresasForm.get('telefono')?.hasError('pattern') && empresasForm.get('telefono')?.touched" class="text-danger">
                El teléfono solo deben ser números (puede comenzar con '+').
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="empresasForm.invalid">Guardar Empresa</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Listado de Empresas -->
  <div class="table-responsive mt-4">
    <h2>Listado de Empresas</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>RUT</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas || []">
          <td>{{ empresa?.id }}</td>
          <td>{{ empresa?.nombre }}</td>
          <td>{{ empresa?.direccion }}</td>
          <td>{{ empresa?.rut }}</td>
          <td>{{ empresa?.telefono }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Formulario de Empleados -->
  <div class="table-responsive mt-4">
    <h2>Listado de Empleados</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre Completo</th>
          <th>Email</th>
          <th>Rut</th>
          <th>Empresa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of empleados || []">
          <td>{{item?.id}}</td>
          <td>{{item?.nombreCompleto}}</td>
          <td>{{item?.email}}</td>
          <td>{{item?.rut}}</td>
          <td>{{item?.empresa?.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <router-outlet></router-outlet>
</div>
